ul {
	margin: 0;
	padding: 0;
}

.list li {
	display: inline-block;
	position: relative;
}

.list li a {
	display: block;
	padding: 15px 25px;
} 

.list li:hover .menu {
	display: block;
}
.menu  {
	display: none;
	position: absolute;
	top:20;
	left:0;
}