ul.menu {
	list-style-type: none;
}
.menu li {
	float: left;
	background-color: green;
}

.menu li a {
	display: block;
	color: white;
	padding: 30px;
	font-weight: bold;
	display: inline-block; 
}

.menu li a:hover {
	background-color: red;
}
.clearfix::after {
	content: " ";
	clear: both;
	display: block;
}

.example1 {
	position: relative;
	background-color:black;
	color:white;
	
	padding: 40px;
}

p.p1 {
	position: relative;
}

