ul.menu {
	list-style-type: none;
}
.menu li {
	float: left;
	background-color: green;
}

.menu li a {
	display: block;
	color: white;
	padding: 30px;
	font-weight: bold;
	display: inline-block; 
}

.menu li a:hover {
	background-color: red;
}
.clearfix::after {
	content: " ";
	clear: both;
	display: block;
}

.example1 {
	position: relative;
	background-color:black;
	color:white;
	
	padding: 40px;
}

p.p1 {
	position: relative;
}

.box {
	position: fixed;
	top: 0;
	left: 0;
	background-color: yellow;
	height: 120px;
	width: 120px;
	z-index: 10;
}

.box2 {
	position: absolute;
	top: 0;
	left: 0;
	background-color: orange;
	height: 90px;
	width: 90px;
	z-index: 1;
}